*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color1:#D8d8d8;
    --color2:#fff;
    --color3:#333;
    --color4: #F5F5F7;
    --colorlinks: #277DD4;
}

@font-face {
    font-family: 'SFNSDisplay';
    src: url(../CSS/otf/SFNSDisplay-Regular.otf);
}

body{
    font-size: 62.5%;
    font-family: 'SFNSDisplay';
}

header{
    display: flex;
    justify-content: center;
    background-color:var(--color3);
}

nav, ul, li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .25rem 1.3rem .25rem 1.3rem;
    font-size: .8rem;
    list-style: none;
}   

.logo{
    color: var(--color1);
    font-size: 1.3rem;
    transition: .5s;
}

.logo:hover{
    color: var(--color2);
}

li a{
    text-decoration: none;
    color: var(--color1);
    transition: .5s;
}

li a:hover{
    color: var(--color2);
}

.unicef{
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 100%;
    background-color: var(--color4);
}

.unicef-logo img{
    max-width: 9%;
    margin-right: 1rem;
}

.unicef-logo{
    display: flex;
    justify-content: center;    
    align-items: center;
}

.unicef-logo a{
    font-size: .9rem;
    color: var(--colorlinks);
    text-decoration: none;
}

.unicef-logo a:hover{
    text-decoration: underline;
}
